#################################################
# Project files and folders
#################################################

# from jekyll
_site
.sass-cache
.jekyll-metadata
.bundle/
Gemfile.lock

# IDE
.vscode/
