/*!
 * Custom SCSS style file for publications by Marco Omainska
 * Copyright 2022 Marco Omainska - marciska.com
*/

.publication__meta {
  list-style-type: none;
  margin: 0px 0px 10px 0px;
  padding: 0px;

  li {
    margin: 0px;
    padding: 0px;

    span.label {
      font-style: italic;
      padding-left: 10px;
    }
  }
}