/*!
 * Custom SCSS style file for publications by Marco Omainska
 * Copyright 2022 Marco Omainska - marciska.com
*/



.action__wrapper {
  margin-bottom: 0.3em;
}

.pub__meta--wrapper {
  list-style-type: none;
  margin: 10px 10px;
  padding: 0;

  li {
    margin: 5px 0;
    padding: 0px;
    display: flex;

    i {
      // background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.3em; /* <-- set this */
      width: 1.3em;
    }

    .pub__meta--label {
      // background-color: blue;
      flex: 1;
      margin: 0;
      line-height: 1.3em;
      // font-size: 2em;
      padding-left: 10px;
      font-style: italic;
    }
  }
}

.pub__element--wrapper {
  margin-bottom: 1em;
}

.pub__element--label {
  font-size: 1.2em;
}

.pub__abstract {
  position: relative;
  padding: 10px;
  font-size: 0.9em;
  border: solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.254);
  border-color: rgba(0, 0, 0, 0);
}

.pub__citeas {
  position: relative;
  padding: 10px 140px 10px 10px;
  font-size: 0.9em;
  border: solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.254);
  border-color: rgba(0, 0, 0, 0);
}

/* Publication Card */

.pub__card {
  position: relative;
  display: block;
  margin: 20px 0px;
  padding: 15px;
  background-color: rgba(16, 11, 37, 0.095);
  border-radius: 20px;

  .pub__card--info {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .pub__card--teaser {
    margin: 0;
    padding: 0;
    flex: 1 0 300px;

    img {
      border-radius: 10px;
    }
  }

  .pub__card--description {

    .pub__card--title {
      font-size: 1.2em;
      margin: 0;
      line-height: 1.1em;

      a[rel="permalink"]::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        border-radius: 20px;
      }
    }

    .pub__meta--wrapper {
      font-size: 0.8em;
      margin: 0;
      padding: 0;
      #year {
        font-weight: 700;
        color:rgb(221, 191, 152);
      }
    }
  }

  .pub__card--excerpt {
    position: relative;
    font-size: 0.8em;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    color: rgb(208, 221, 221);
    border-radius: 20px;
    border: solid rgba(208, 221, 221, 0.1);
    // z-index: 1;
  }
}

@media screen and (max-width:720px) {
  .pub__card--info {
    flex-wrap: wrap;
  }
}