/*!
 * Custom SCSS style file for publications by Marco Omainska
 * Copyright 2022 Marco Omainska - marciska.com
*/

.action__wrapper {
  margin-bottom: 0.3em;
}

.publication_meta__wrapper {
  list-style-type: none;
  margin: 0px 0px 10px 0px;
  padding: 0px;

  li {
    margin: 0px;
    padding: 0px;

    .publication_meta--label {
      font-style: italic;
      padding-left: 10px;
    }

    i {
      display:inline-block;
      // font-size: 1.2em;
      width: 1.3em;
      text-align: center;
      vertical-align: center;
      margin-left: 0.2em;
    }
  }
}

.publication__element--wrapper {
  margin-bottom: 1em;
}

.publication__element--label {
  font-size: 1.2em;
}

.publication__abstract {
  position: relative;
  padding: 10px;
  font-size: 0.9em;
  border: solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.254);
  border-color: rgba(0, 0, 0, 0);
}

.publication__citeas {
  position: relative;
  padding: 10px 140px 10px 10px;
  font-size: 0.9em;
  border: solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.254);
  border-color: rgba(0, 0, 0, 0);
}

/* Publication Card */

.pub__card {
  position: relative;
  display: block;
  margin: 20px 0px;
  padding: 10px;
  background-color: rgba(16, 11, 37, 0.095);
  border-radius: 10px;

  .pub__card--teaser {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    margin: 0;
    // background-color: aqua;

    img {
      // position: relative;
      border-radius: 10px;
      margin: 0;
    }
  }

  .pub__card--description {
    display: inline-block;
    margin: 0 10px 0 10px;
    width: 70%;
    vertical-align: top;
    // background-color: red;

    .pub__card--title {
      // display: inline-block;
      font-size: 1.2em;
      margin: 0;
      align-items: flex-start;

      a[rel="permalink"]::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }

    .pub__card--meta {
      // display: inline-block;
      font-size: 0.8em;
      font-style: italic;

      span {
        font-weight: 700;
        color:rgb(221, 191, 152);
      }
    }
  }

  .pub__card--excerpt {
    // font-style: italic;
    font-size: 0.8em;
    color: rgb(208, 221, 221);
    margin: 15px 0 0 0;
  }
}
