{% if include.pub.header.teaser %}
  {% assign teaser = include.pub.header.teaser %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% assign abstract = include.pub.article.abstract | markdownify | strip_html | truncatewords: 80 %}
{% assign where = include.pub.article.where %}
{% assign article_type = include.pub.article.type | downcase %}
{% if article_type == "journal" %}
  {% assign where_icon = "fa-book" %}
{% elsif article_type == "conference" %}
  {% assign where_icon = "fa-street-view" %}
{% else %}
  {% assign where_icon = "fa-street-view" %}
{% endif %}

<article class="pub__card" itemscope itemtype="https://schema.org/CreativeWork">
  <div class="pub__card--info">
    {% if teaser %}
      <div class="pub__card--teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <div class="pub__card--description">
      <h3 class="pub__card--title" itemprop="headline">
        <a href="{{ include.pub.url | relative_url }}" rel="permalink">{{ include.pub.article.title }}</a>
      </h3>
      <ul class="pub__meta--wrapper social-icons">
        <li>
          <i class="fa-solid fa-user-group" aria-hidden="true"></i>
          <span class="pub__meta--label">{{include.pub.article.authors}}</span>
        </li>
        <li>
          <i class="fa-solid {{where_icon}}" aria-hidden="true"></i>
          <span class="pub__meta--label">{{where}} '<span id="year">{{include.pub.article.year | slice: -2, 2}}</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <p class="pub__card--excerpt" itemprop="description">{{ abstract }}</p>
</article>