---
layout: default
classes:
  - wide
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% assign breadcrumbs_enabled = site.breadcrumbs %}
{% if page.breadcrumbs != null %}
  {% assign breadcrumbs_enabled = page.breadcrumbs %}
{% endif %}
{% if page.url != "/" and breadcrumbs_enabled %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page h-entry" itemscope itemtype="https://schema.org/CreativeWork">
  {% assign article = page.article %}
    {% if article.title %}<meta itemprop="headline" content="{{ article.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if article.abstract %}<meta itemprop="description" content="{{ article.abstract | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if article.title %}
          <h1 id="page-title" class="page__title p-name" itemprop="headline">{{ article.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
          {% endif %}
          {% include page__meta.html %}
        </header>
      {% endunless %}

      <section class="page__content e-content" itemprop="text">

          <div class="action__wrapper">
            {% assign article_type = article.type | downcase %}
            {% assign actions = page.actions %}
            {% if actions.code %}
            <a class="action-btn" href="{{actions.code}}"><img src="https://img.shields.io/badge/Code-blue?style=for-the-badge&logo=visual-studio-code&logoColor=white" alt=""></a>
            {% endif %}
            {% if actions.pdf %}
            <a class="action-btn" href="{{actions.pdf}}"><img src="https://img.shields.io/badge/Read%20Article-green?style=for-the-badge&logo=Adobe&logoColor=white" alt=""></a>
            {% endif %}
            {% if actions.arxiv %}
            <a class="action-btn" href="{{actions.arxiv}}"><img src="https://img.shields.io/badge/arXiv-red?style=for-the-badge&logo=Adobe&logoColor=white" alt=""></a>
            {% endif %}
            {% if actions.slides %}
            <a class="action-btn" href="{{actions.slides}}"><img src="https://img.shields.io/badge/Slides-orange?style=for-the-badge&logo=Adobe&logoColor=white" alt=""></a>
            {% endif %}
            {% if actions.conference %}
            <a class="action-btn" href="{{actions.conference}}"><img src="https://img.shields.io/badge/Conference%20Website-gray?style=for-the-badge&logo=safari&logoColor=white" alt=""></a>
            {% endif %}
            {% for action in actions.other %}
              <a class="action-btn" href="{{action.url}}"><img src="{{action.button}}" alt=""></a>
            {% endfor %}
          </div>

          <ul class="pub__meta--wrapper social-icons">
            {% if article.authors %}
            <li>
              <i class="fa-solid fa-user-group" aria-hidden="true"></i><span class="pub__meta--label">{{article.authors}}</span>
            </li>
            {% endif %}
            {% if article.where %}
            {% if article_type == "journal" %}
              {% assign where_icon = "fa-book" %}
            {% elsif article_type == "conference" %}
              {% assign where_icon = "fa-street-view" %}
            {% else %}
              {% assign where_icon = "fa-street-view" %}
            {% endif %}
            <li>
              <i class="fa-solid {{where_icon}}" aria-hidden="true"></i><span class="pub__meta--label">{{article.where}}</span>
            </li>
            {% endif %}
            {% if article.year %}
            <li>
              <i class="fa-solid fa-calendar" aria-hidden="true"></i><span class="pub__meta--label">{{article.year}}</span>
            </li>
            {% endif %}
          </ul>

          {% if article.status == "submitted" %}
            <p class="notice notice_box"><span class="notice_label">Info:</span><span class="notice_text">This paper has been submitted and is waiting for acceptance.</span></p>
          {% elsif article.status == "resubmitted" %}
            <p class="notice notice_box"><span class="notice_label">Info:</span><span class="notice_text">This paper has been resubmitted and is waiting for acceptance.</span></p>
          {% elsif article.status == "accepted" %}
            <p class="notice notice_box"><span class="notice_label">Info:</span><span class="notice_text">This paper has been accepted. Please wait for a while to have it publically available.</span></p>
          {% endif %}

          {% for notice in page.notice %}
            {% if notice.type %}
              {% assign notice_type = notice.type %}
            {% else %}
              {% assign notice_type = "notice" %}
            {% endif %}

            {% if notice.type == "notice--award" %}
              <div class="{{notice_type}}"><span class="notice_text">{{notice.text}}</span></div>
            {% else %}
              {% if notice.label %}
                {% assign notice_label = notice.label %}
              {% else %}
                {% assign notice_label = "Info" %}
              {% endif %}
              <p class="{{notice_type}} notice_box"><span class="notice_label">{{notice_label}}:</span><span class="notice_text">{{notice.text}}</span></p>
            {% endif %}
          {% endfor %}

          {% if article.abstract %}
            <div class="pub__element--wrapper">
              <span class="pub__element--label">Abstract:</span>
              <div class="pub__abstract">
                {{article.abstract}}
              </div>
            </div>
          {% endif %}

          {% if article.citeas %}
            <div class="pub__element--wrapper">
              <span class="pub__element--label">Cite as:</span>
              <div class="pub__citeas" data-copyable=true>
                {{article.citeas}}
              </div>
            </div>
          {% endif %}
          {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
        {% include page__date.html %}
      </footer>

      {% if page.share %}{% include social-share.html %}{% endif %}
      
      {% comment %}{% include post_pagination.html %}{% endcomment %}
    </div>

    {% if jekyll.environment == 'production' and site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>

  {% if page.related %}{% include collection_related.html %}{% endif %}
</div>
